h1{
    text-align: center;
}
body{
    background-color: chartreuse;
}
#form{
    background-color:pink;
    border-radius: 10px;
    padding:20px 20px 100px 30px;
}

input[type=text]{
    width:100%;
    border-radius: 4px;
    display:inline-block;
    box-sizing: border-box;
    padding: 12px 20px;
    border: 1px;
    margin: 0px;
}
input[type=email]{
    width:100%;
    border-radius: 4px;
    display:inline-block;
    box-sizing: border-box;
    padding: 12px 20px;
    border: 1px;
    margin: 0px;
}
input[type=number]{
    width:100%;
    border-radius: 4px;
    display:inline-block;
    box-sizing: border-box;
    padding: 12px 20px;
    border: 1px;
    margin: 0px;
}
input[type=submit]{
    width:100%;
    border:1px;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 0px;
    background-color: yellow;
}
input:hover[type=submit]{
   background-color: red;
}
